* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.top-container{
    background-image: url('./image/background2.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    width: 100%; 
    
    display: flex-block;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 100px ;
    margin-bottom: 0px;
}

.middle-container {
  
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start; 
    padding: 0px;
    width: 50%; 
    margin: 0 auto; 
    margin-left: 20%; 
    margin-top: 80px;
   
  }
  .middle-container h2{
    font-family: cursive;
    margin-bottom: 10px;
  }

.middle-container > img{
    border-radius: 50%;
    margin-bottom: 10px;
}

.skill{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start; 
    padding: 0px;
    width: 50%; 
    margin: 0 auto; 
    margin-left: 20%; 
    margin-right: 40%;
    margin-top: 80px;
}

.my-skill{
    text-align: center;
    font-size: 40px;
    font-family:cursive;
}
.skill img{
    margin-bottom: 20px;
    padding: 0px;
}

.bottom-container{
    display: flex-block;
    font-size: 24px;
    text-align: center;
    padding: 60px;
    width: 100%; 
}
button{
    background-color: rgb(56, 231, 56);
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: aliceblue;
    font-size: 20px;
    margin-top: 20px;
}
.footer{
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.gradient-background {
    background: linear-gradient(300deg, hsl(206, 76%, 51%), #3e4fec, #d013ff);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    margin: 0%;
  }

@media(max-width: 680px){
    .middle-container{
        width: 75%;
        margin-left: 10%;
    }
    .skill{
        width: 75%;
        margin-left: 10%;
    }
    .my-skill{
        font-size: 30px;
    }
}




